.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 2.5rem 0;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    h1 {
      display: block;
      font-size: 1.75rem;
      line-height: 2rem;
      transition: color 0.2s;
      margin-bottom: 1rem;
    }

    p {
      color: var(--gray-100);
      margin-top: 0.5rem;
      line-height: 1.625rem;
    }

    div {
      margin-top: 1.5rem;

      time {
        font-size: 1rem;
        color: var(--gray-500);
        margin: 0 1rem;
      }

      span {
        color: var(--gray-500);
        margin: 0 1rem;
      }

    }


    &:hover h1 {
      color: var(--pink-500);
    }
  }
}
