.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 5rem auto;
  padding: 0 15rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover img {
    filter: brightness(0.9);
  }
}
